.homepage-component {
  height: calc(100vh - 70px);
  background-image: url('https://images.unsplash.com/photo-1590311825160-a6263b093200?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');

  .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 80px;
  }

  .title {
    font-size: 108px;
    margin-bottom: 15px;
    color: white;
  }

  a {
    text-decoration: none;
  }

  .homepage-button {
    width: 150px;
    height: 36px;
    margin-right: 10px;
    background-color: white;
  }
}
